<html>
  <body>
    <h1>This was initiated via Chef Script</h1>
    <h2>Exercise to demo scripting of Infrastructure</h2>
    <p>General steps were:</p>
    <ul>
      <li>Create an EC2 Chef Server instance and connect to it via web UI and SSH (needed to validate node name)</li>
      <li>
        Configure server with an initial organization called david
      </li>
      <li>
        Download Starter kit from Chef Server which contains AWS connectivity parameters.
      </li>
      <li>
        Configure workstation (my laptop) with Chef tools. Configure knife.rb file with updated DNS name. Validated connectivity to server via knife client list
      </li>
      <li>
        Configured initial recipe to do apt-get update daily, install apache, and load this template
      </li>
      <li>Phase 1 of exercise (Chef server and script): June 13, 2016</li>
      <li>Phase 2 of exercise (Full automation with bash script and AWS CLI): June 16, 2016</li>
    </ul>

    <p>Note: if viewing via load-balancer DNS, reload page to confirm values below change.</p>
    <h2>Node-Specific Attributes</h2>
    <p>Platform: <%= node['platform'] %></p>
    <p>Platform version: <%= node['platform_version'] %></p>
    <p>Host Name: <%= node['hostname'] %></p>
    <p>IP Address: <%= node['ipaddress'] %></p>
    <p>Domain name: <%= node['fqdn'] %></p>
  </body>
</html>
